<h1>Listing current memberships</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Transaction Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.name %></td>
        <td><%= membership.transaction %></td>
      <!--  <td><%= link_to 'Show', membership %></td> -->
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Membership", new_membership_path %>
